$containerWidth: 1140px;
$baseFontSize: 14px;

//breakpoints
$desktops: 1280px;
$largetablets: 992px;
$tablets: 768px;
$landphones: 576px;
$phones: 480px;
$miniphones: 320px;


//colors
$white: #FFF;
$grayLight: #EDF0F5;
$gray: #7D7E7F;
$grayDark: #4C4F55;
$black:#3F434A;
$yellow:#FFF73F;
$pink:#E26078;
$lightPink:#ED96A6;
$blue:#1860BA;
$green:#1B997A;
$lightBlue:#49A1F3;
$lightGreen:#29C9A1;

//fonts
$strong: 'Roboto';


//z-indexes
$z-fixed-menu: 100;

@import "media";

//normilize
@import "https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css";

@import 'https://cdn.jsdelivr.net/gh/JNKKKK/MoreToggles.css/output/moretoggles.min.css';

//setups
@import "../fonts/fonts";
@import "layout";


//components
@import "components/wrapper";
@import "components/header";
@import "components/hamburger";
@import "components/container";
@import "components/section";
@import "components/line";
@import "components/adress";
@import "components/logo";
@import "components/menu";
@import "components/promo";
@import "components/benefit";