@import "https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css";
@import 'https://cdn.jsdelivr.net/gh/JNKKKK/MoreToggles.css/output/moretoggles.min.css';
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
html {
  font-size: 14px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
}

body {
  font-family: "Roboto";
  line-height: 1.42;
  position: relative;
  color: #3F434A;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-weight: normal;
}

table {
  border-collapse: collapse;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
}
ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

p {
  padding: 0;
  margin: 0;
}

footer {
  position: relative;
  width: 100%;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input {
  outline: 0;
}

.wrapper {
  background: #EDF0F5;
  color: #3F434A;
  font-family: "Roboto";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 187px;
  background: #FFF;
}
.header__top-menu {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 44px;
  margin-left: 10px;
}
.header__top-menu__item {
  padding: 10px;
  font-weight: bold;
}
.header__mp {
  min-height: 86px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.header__bp {
  min-height: 57px;
}
.header__wa {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__wa__logo {
  max-width: 50%;
}
.header__tel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 18px;
  font-weight: 600;
}
.header__tel__span {
  font-size: 10px;
}

.footer {
  min-height: 200px;
  background: #3F434A;
  color: #FFF;
  padding-top: 10px;
}
.footer__line__color {
  border-top: 1px solid #7D7E7F;
}
.footer__tel {
  color: #1860BA;
}
.footer__tp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__tp__right {
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer__callback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.footer__bp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10px;
  margin-top: 10px;
}
.footer__location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 14px 0;
}
.footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer__menu__item {
  font-weight: 300;
  margin-bottom: 4px;
}
.footer__menu__item:last-child {
  margin-bottom: 0;
}
.footer__menu__title {
  margin-bottom: 10px;
  font-weight: 600;
}
.footer__menu__frame {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__margin__right {
  margin-right: 15px;
}

.hamburger {
  display: none;
  margin-top: 15px;
}
@media screen and (max-width: 480px) {
  .hamburger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.hamburger-icon {
  position: relative;
  width: 30px;
  height: 5px;
  background-color: #fff;
  border-radius: 3px;
}
.hamburger-icon:before {
  position: absolute;
  left: 0;
  top: -10px;
  content: "";
  width: 30px;
  height: 5px;
  background-color: #fff;
  -webkit-transition: top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
  transition: top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
  border-radius: 3px;
}
.hamburger-icon:after {
  position: absolute;
  left: 0;
  top: 10px;
  content: "";
  width: 30px;
  height: 5px;
  background-color: #fff;
  -webkit-transition: top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
  transition: top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
  border-radius: 3px;
}

.hamburger-icon.hamburger-icon-active {
  background-color: transparent;
}

.hamburger-icon.hamburger-icon-active::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 0;
  -webkit-transition: top 0.2s linear, -webkit-transform 0.2s ease-in 0.2s;
  transition: top 0.2s linear, -webkit-transform 0.2s ease-in 0.2s;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s, -webkit-transform 0.2s ease-in 0.2s;
}

.hamburger-icon.hamburger-icon-active::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 0;
  -webkit-transition: top 0.2s linear, -webkit-transform 0.2s ease-in 0.2s;
  transition: top 0.2s linear, -webkit-transform 0.2s ease-in 0.2s;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s, -webkit-transform 0.2s ease-in 0.2s;
}

.container {
  width: 95%;
  max-width: 1140px;
  margin: 0 auto;
}

.section {
  background: #EDF0F5;
}
.section__benefit {
  background: #FFF;
  min-height: 166px;
  border-radius: 10px;
}
.section__title {
  padding: 35px 0px;
  font-size: 26px;
  text-transform: uppercase;
}
.section__title-small {
  font-weight: 600;
  text-align: center;
  font-size: 16px;
}
.section__title-bottom {
  margin-bottom: 10px;
}
.section__title-top {
  margin-top: 10px;
}

.line {
  border-left: 1px solid #EDF0F5;
  height: 26px;
}
.line__logo {
  border-left: 1px solid #EDF0F5;
  height: 50px;
}
.line__horizont {
  border-top: 1px solid #EDF0F5;
}

.adress {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.logo__text {
  margin-left: 19px;
}
.logo__name {
  font-size: 18px;
  font-weight: 700;
}
.logo__desc {
  text-transform: capitalize;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.menu__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.menu__item {
  margin-left: 10px;
}

.promo {
  min-height: 362px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.promo__bg {
  background: #1860BA;
}
.promo__text {
  color: #FFF;
}
.promo__text-h2 {
  font-size: 18px;
  font-weight: 300;
  text-transform: capitalize;
}
.promo__text-h1 {
  font-size: 48px;
  line-height: 0px;
}
.promo__text-h3 {
  font-size: 18px;
  font-weight: 300;
  line-height: 20px;
}

.benefit {
  min-height: 210px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.benefit__icon {
  padding: 6px;
}
.benefit__title {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-transform: uppercase;
  font-weight: 600;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.benefit__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.benefit__item {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.benefit__desc {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.benefit__desc-text::before {
  content: "";
  width: 6px;
  height: 6px;
  background: #3F434A;
  border-radius: 50%;
  margin: 6px;
}

.device {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.device__list {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.device__item {
  margin-bottom: 10px;
}
.device__item {
  background: #FFF;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  padding: 11px;
  min-width: 270px;
  min-height: 244px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  align-items: center;
}
.device__name {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
}
.device__tag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.device__price {
  margin-right: 40px;
}
.device__link {
  background: #1B997A;
  color: white;
  border-radius: 21px;
  padding: 6px 12px;
}

.brand__list {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.brand__link {
  background: #FFF;
  border-radius: 10px;
  padding: 4px;
  min-width: 104px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.brand__name {
  text-transform: uppercase;
  font-size: 10px;
}
.brand__item {
  margin-bottom: 10px;
}

.callback {
  background-image: url(./../img/bg/fon.png);
  border-radius: 6px;
  margin-top: 24px;
}
.callback__frame {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.callback__title {
  text-transform: uppercase;
  font-size: 30px;
  color: #FFF;
}
.callback__panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.callback__table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.callback__input {
  border: 0;
  background: #FFF;
  padding: 14px 20px;
  border-radius: 6px;
  margin-right: 10px;
}
.callback__button {
  border: 0;
  background: #FFF73F;
  padding: 14px 20px;
  border-radius: 6px;
  cursor: pointer;
}
.callback__label {
  color: #FFF;
  font-size: 11px;
}

.stock__list {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.stock__link {
  background: #ED96A6;
  border-radius: 10px;
  padding: 12px 30px;
  min-width: 104px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #FFF;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.stock__link-blue {
  background: #49A1F3;
}
.stock__link-green {
  background: #29C9A1;
}
.stock__img {
  margin-right: 14px;
}
.stock__frame {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.stock__desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.stock__name {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 400;
}
.stock__value {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
}

.description__frame {
  background: #FFF;
  padding: 36px;
  border-radius: 6px;
}
.description__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.description__item {
  display: list-item;
  margin-left: 15px;
}

.process__list {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.process__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: white;
  border-radius: 6px;
  padding: 10px;
  max-width: 175px;
}
.process__count {
  -ms-flex-item-align: end;
      align-self: flex-end;
  font-size: 17px;
  font-weight: 700;
}
.process__name {
  font-size: 16px;
  font-weight: 600;
}
.process__desc {
  font-size: 13px;
  text-align: center;
}

.contacts__frame {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.contacts__table {
  background: #FFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-width: 536px;
  padding: 16px;
  border-radius: 6px;
}
.contacts__table-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.contacts__table-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.contacts__telephone__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.contacts__adress__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.contacts__time__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.contacts__margin-right {
  margin-right: 10px;
}
.contacts__margin-bottom {
  margin-bottom: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contacts__height-img {
  height: 14px;
}

.metro {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 8px;
}
.metro__item {
  margin-bottom: 6px;
}

.bus {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 8px;
}
.bus__item {
  margin-bottom: 6px;
}
.bus__img {
  height: 14px;
  margin-right: 8px;
}

.cards {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.cards__margin__right {
  margin-right: 10px;
}
.cards__margin__right:last-child {
  margin-right: 0;
}

.galery {
  background: #FFF;
  padding: 32px;
  border-radius: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.galery-margin__top {
  margin-top: 26px;
}
.galery-margin__bottom {
  margin-bottom: 58px;
}

.footer {
  min-height: 200px;
  background: #3F434A;
  color: #FFF;
  padding-top: 10px;
}
.footer__line__color {
  border-top: 1px solid #7D7E7F;
}
.footer__tel {
  color: #1860BA;
}
.footer__tp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__tp__right {
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer__callback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.footer__bp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10px;
  margin-top: 10px;
}
.footer__location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 14px 0;
}
.footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer__menu__item {
  font-weight: 300;
  margin-bottom: 4px;
}
.footer__menu__item:last-child {
  margin-bottom: 0;
}
.footer__menu__title {
  margin-bottom: 10px;
  font-weight: 600;
}
.footer__menu__frame {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__margin__right {
  margin-right: 15px;
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 10px;
}
.search__title {
  margin-bottom: 10px;
  font-weight: 600;
}
.search__margin__right {
  margin-right: 15px;
}
.search__frame {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.search__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 20px;
  font-weight: 300;
}
.search__list:last-child {
  margin-right: 0;
}
.search__item {
  margin-bottom: 4px;
}
.search__item:last-child {
  margin-bottom: 0;
}

.social {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 50px;
}
.social__item {
  margin-right: 10px;
}
.social__item :last-child {
  margin-right: 0;
}

.rights {
  font-weight: 200;
  font-size: 11px;
}