<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="./css/main.css")
    title Smartphonoff
  body
    .wrapper
      header.header
        .container
          .header__tp
            ul.header__top-menu
              li.header__top-menu__item
                a(href='#') О нас
              .line
              li.header__top-menu__item
                a(href='#') Отзывы
              .line
              li.header__top-menu__item
                a(href='#') Гарантия
              .line
              li.header__top-menu__item
                a(href='#') Для юр лиц
              .line
              li.header__top-menu__item
                a(href='#') Оплата картой
              .line
              li.header__top-menu__item
                a(href='#') Вызвать курьера
              .line
              li.header__top-menu__item
                a(href='#') Контакты            
          .line__horizont
          .header__mp
            .logo
              img(src="./img/logo/logo-footer.png", alt="")
              .logo__text
                .logo__name|DOCTOR
                  br
                  |SMARTPHONOFF
                .logo__desc сервисный центр
            .line__logo
            .adress|Москва,
              br
              |м. Академическая,
              br
              |ул.Кедрова,  д. 13, корп. 2
            .line__logo
            .adress|Москва,
              br
              |м. Зябликово,
              br
              |ул. Воронежская,  д. 36, корп. 1
            .line__logo
            a.header__wa(title='Написать нам в WhatsApp', target='_blank', href='https://wa.me/79015555555')
              img.header__wa__logo(src='./img/logo/whatsapp.svg', title='Ремонт Академическая, Зябликово WhatsApp', alt='Ремонт Зябликово WhatsApp')
              .header__wa__text WhatsApp
            .line__logo
            .header__tel
              a(href='tel:=+74993500001') +7 (499) 350-00-01
              a(href='tel:=+79015555555') +7 (901) 555-55-55
              span.header__tel__span ПН-СБ 10:00-20:00
          .line__horizont
          .header__bp 
            ul.menu
              li.menu__list
                a.menu__link(href='#')
                  img(src="./img/menu/mobile-phone.svg", alt="")
                  .menu__item
                    .menu__item__text Ремонт
                    .menu__item__description Телефонов
              li.menu__list
                a.menu__link(href='#')
                  img(src="./img/menu/tablet.svg", alt="")
                  .menu__item
                    .menu__item__text Ремонт
                    .menu__item__description Планшетов
              li.menu__list
                a.menu__link(href='#')
                  img(src="./img/menu/laptop.svg", alt="")
                  .menu__item
                    .menu__item__text Ремонт
                    .menu__item__description Ноутбуков
              li.menu__list
                a.menu__link(href='#')
                  img(src="./img/menu/personal-computer.svg", alt="")
                  .menu__item
                    .menu__item__text Ремонт
                    .menu__item__description Компьютеров
              li.menu__list
                a.menu__link(href='#')
                  img(src="./img/menu/desktop.svg", alt="")
                  .menu__item
                    .menu__item__text Ремонт
                    .menu__item__description Моноблоков
              li.menu__list
                a.menu__link(href='#')
                  img(src="./img/menu/tv-monitor.svg", alt="")
                  .menu__item
                    .menu__item__text Ремонт
                    .menu__item__description Телевизоров
              li.menu__list
                a.menu__link(href='#')
                  img(src="./img/menu/game-controller.svg", alt="")
                  .menu__item
                    .menu__item__text Ремонт
                    .menu__item__description Приставок
              li.menu__list
                a.menu__link(href='#')
                  img(src="./img/menu/graphics-card.svg", alt="")
                  .menu__item
                    .menu__item__text Ремонт
                    .menu__item__description Видеокарт
      .section  
        .container
          .promo
            .promo__text
              h2.promo__text-h2 Сервисный центр
              h1.promo__text-h1 Doctor Smartphonoff
              h3.promo__text-h3|Профессиональный ремонт телефонов, планшетов, ноутбуков,
                .br |компьютеров а также  любой электроники
            .promo__img
              img(src="./img/promo/mobile_and_tablets_with_pc.png")
            
      footer.footer
       
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
    script(src="./js/hamburger.js")
    script(src="./js/slider.js")
   
