<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="./css/main.css")
    title Smartphonoff
  body
    .wrapper
      header.header
        .container
          .header__tp
            ul.header__top-menu
              li.header__top-menu__item О нас
              li.header__top-menu__item Отзывы
              li.header__top-menu__item Гарантия
              li.header__top-menu__item Для юр лиц
              li.header__top-menu__item Оплата картой
              li.header__top-menu__item Вызвать курьера
              li.header__top-menu__item Контакты
          .header__mp
            .logo
              img(src="/img/logo/logo-footer.png", alt="")
          .header__bp 
            ul.header__bottom-menu

        
      section
       
      footer.footer
       
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
    script(src="./js/hamburger.js")
    script(src="./js/slider.js")
   
