<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="./css/main.css")
    title Smartphonoff
  body
    .wrapper
      header.header
        .container
          .header__tp
            ul.header__top-menu
              li.header__top-menu__item
                a(href='#') О нас
              .line
              li.header__top-menu__item
                a(href='#') Отзывы
              .line
              li.header__top-menu__item
                a(href='#') Гарантия
              .line
              li.header__top-menu__item
                a(href='#') Для юр лиц
              .line
              li.header__top-menu__item
                a(href='#') Оплата картой
              .line
              li.header__top-menu__item
                a(href='#') Вызвать курьера
              .line
              li.header__top-menu__item
                a(href='#') Контакты            
          .line__horizont
          .header__mp
            a(href="").logo
              img(src="./img/logo/logo-footer.png", alt="")
              .logo__text
                .logo__name|DOCTOR
                  br
                  |SMARTPHONOFF
                .logo__desc сервисный центр
            .line__logo
            a.adress(href="#")|Москва,
              br
              |м. Академическая,
              br
              |ул.Кедрова,  д. 13, корп. 2
            .line__logo
            a.adress(href="#")|Москва,
              br
              |м. Зябликово,
              br
              |ул. Воронежская,  д. 36, корп. 1
            .line__logo
            a.header__wa(title='Написать нам в WhatsApp', target='_blank', href='https://wa.me/79015555555')
              img.header__wa__logo(src='./img/logo/whatsapp.svg', title='Ремонт Академическая, Зябликово WhatsApp', alt='Ремонт Зябликово WhatsApp')
              .header__wa__text WhatsApp
            .line__logo
            .header__tel
              a(href='tel:=+74993500001') +7 (499) 350-00-01
              a(href='tel:=+79015555555') +7 (901) 555-55-55
              span.header__tel__span ПН-СБ 10:00-20:00
          .line__horizont
          .header__bp 
            ul.menu
              li.menu__list
                a.menu__link(href='#')
                  img(src="./img/menu/mobile-phone.svg", alt="")
                  .menu__item
                    .menu__item__text Ремонт
                    .menu__item__description Телефонов
              li.menu__list
                a.menu__link(href='#')
                  img(src="./img/menu/tablet.svg", alt="")
                  .menu__item
                    .menu__item__text Ремонт
                    .menu__item__description Планшетов
              li.menu__list
                a.menu__link(href='#')
                  img(src="./img/menu/laptop.svg", alt="")
                  .menu__item
                    .menu__item__text Ремонт
                    .menu__item__description Ноутбуков
              li.menu__list
                a.menu__link(href='#')
                  img(src="./img/menu/personal-computer.svg", alt="")
                  .menu__item
                    .menu__item__text Ремонт
                    .menu__item__description Компьютеров
              li.menu__list
                a.menu__link(href='#')
                  img(src="./img/menu/desktop.svg", alt="")
                  .menu__item
                    .menu__item__text Ремонт
                    .menu__item__description Моноблоков
              li.menu__list
                a.menu__link(href='#')
                  img(src="./img/menu/tv-monitor.svg", alt="")
                  .menu__item
                    .menu__item__text Ремонт
                    .menu__item__description Телевизоров
              li.menu__list
                a.menu__link(href='#')
                  img(src="./img/menu/game-controller.svg", alt="")
                  .menu__item
                    .menu__item__text Ремонт
                    .menu__item__description Приставок
              li.menu__list
                a.menu__link(href='#')
                  img(src="./img/menu/graphics-card.svg", alt="")
                  .menu__item
                    .menu__item__text Ремонт
                    .menu__item__description Видеокарт
      .section.promo__bg
        .container
          .promo
            .promo__text
              h2.promo__text-h2 Сервисный центр
              h1.promo__text-h1 Doctor Smartphonoff
              h3.promo__text-h3
                |Профессиональный ремонт телефонов, планшетов, ноутбуков,
                .br
                |компьютеров а также  любой электроники
            .promo__img
              img(src="./img/promo/mobile_and_tablets_with_pc.png")
      .section
        .container
          .benefit
            .section__benefit
              ul.benefit__list
                li.benefit__item
                  .benefit__title
                    img.benefit__icon(src="./img/benefit/stopwatch.png", alt="")
                    span Срочный ремонт
                  ul.benefit__desc
                    li.benefit__desc-text Ремонт за 1 час
                    li.benefit__desc-text Срочная диагноситка
                    li.benefit__desc-text Ремонт в Вашем присутствии
                li.benefit__item
                  .benefit__title
                    img.benefit__icon(src="./img/benefit/iso.png", alt="")
                    span Гарантия и качество
                  ul.benefit__desc
                    li.benefit__desc-text Оригинальные запчасти
                    li.benefit__desc-text Гарантия 100 дней
                    li.benefit__desc-text Оплата по факту
                li.benefit__item
                  .benefit__title
                    img.benefit__icon(src="./img/benefit/wallet.png", alt="")
                    span Способы оплаты
                  ul.benefit__desc
                    li.benefit__desc-text Оплата картой
                    li.benefit__desc-text Оплата через банк
                    li.benefit__desc-text Рассрочка и кредит
                li.benefit__item
                  .benefit__title
                    img.benefit__icon(src="./img/benefit/parking.png", alt="")
                    span Метро и парковка
                  ul.benefit__desc
                    li.benefit__desc-text 2 минуты от метро
                    li.benefit__desc-text Парковка бесплатно
                    li.benefit__desc-text Курьерская служба
      .section
        .container
          .device
            .section__title Выберите устройство для ремонта
            .section__content
              ul.device__list 
                li.device__item
                  .device__name Телефоны
                  img.device__img(src="./img/device/mobiles.png", alt="")
                  .device__tag 
                    .device__price от 1200р
                    a.device__link(href='#') Подробнее
                li.device__item
                  .device__name Планшеты
                  img.device__img(src="./img/device/tablet.png", alt="")
                  .device__tag 
                    .device__price от 1200р
                    a.device__link(href='#') Подробнее
                li.device__item
                  .device__name Ноутбуки
                  img.device__img(src="./img/device/laptop.png", alt="")
                  .device__tag 
                    .device__price от 1200р
                    a.device__link(href='#') Подробнее
                li.device__item
                  .device__name Компьютеры
                  img.device__img(src="./img/device/pc.png", alt="")
                  .device__tag 
                    .device__price от 1200р
                    a.device__link(href='#') Подробнее
                li.device__item
                  .device__name Моноблоки
                  img.device__img(src="./img/device/monoblock.png", alt="")
                  .device__tag 
                    .device__price от 1200р
                    a.device__link(href='#') Подробнее
                li.device__item
                  .device__name Телевизоры
                  img.device__img(src="./img/device/tv.png", alt="")
                  .device__tag 
                    .device__price от 1200р
                    a.device__link(href='#') Подробнее
                li.device__item
                  .device__name Приставки
                  img.device__img(src="./img/device/consolegame.png", alt="")
                  .device__tag 
                    .device__price от 1200р
                    a.device__link(href='#') Подробнее
                li.device__item
                  .device__name Видеокарты
                  img.device__img(src="./img/device/graficcards.png", alt="")
                  .device__tag 
                    .device__price от 1200р
                    a.device__link(href='#') Подробнее
      .section
        .container
          .brand
            .section__title Выберите бренд для ремонта
            .section__content
              ul.brand__list 
                li.brand__item
                  a.brand__link(href="#")
                    .brand__name Apple
                    img.brand__logo(src="./img/brand/APPLE.png", alt="")
                li.brand__item
                  a.brand__link(href="#")
                    .brand__name Xiaomi
                    img.brand__logo(src="./img/brand/xiaomi.png", alt="")
                li.brand__item
                  a.brand__link(href="#")
                    .brand__name Samsung
                    img.brand__logo(src="./img/brand/Samsung.png", alt="")
                li.brand__item
                  a.brand__link(href="#")
                    .brand__name Huawei
                    img.brand__logo(src="./img/brand/huawei.png", alt="")
                li.brand__item
                  a.brand__link(href="#")
                    .brand__name Honor
                    img.brand__logo(src="./img/brand/honor.png", alt="")
                li.brand__item
                  a.brand__link(href="#")
                    .brand__name Nokia
                    img.brand__logo(src="./img/brand/nokia.png", alt="")
                li.brand__item
                  a.brand__link(href="#")
                    .brand__name Meizu
                    img.brand__logo(src="./img/brand/meizu.png", alt="")
                li.brand__item
                  a.brand__link(href="#")
                    .brand__name Oneplus
                    img.brand__logo(src="./img/brand/oneplus.png", alt="")
                li.brand__item
                  a.brand__link(href="#")
                    .brand__name HP
                    img.brand__logo(src="./img/brand/hp.png", alt="")
                li.brand__item
                  a.brand__link(href="#")
                    .brand__name Google
                    img.brand__logo(src="./img/brand/google.png", alt="")
                li.brand__item
                  a.brand__link(href="#")
                    .brand__name Sony
                    img.brand__logo(src="./img/brand/sony.png", alt="")
                li.brand__item
                  a.brand__link(href="#")
                    .brand__name Lenovo
                    img.brand__logo(src="./img/brand/lenovo.png", alt="")
                li.brand__item
                  a.brand__link(href="#")
                    .brand__name Asus
                    img.brand__logo(src="./img/brand/asus.png", alt="")
                li.brand__item
                  a.brand__link(href="#")
                    .brand__name Xbox
                    img.brand__logo(src="./img/brand/xbox.png", alt="")
                li.brand__item
                  a.brand__link(href="#")
                    .brand__name Playstation
                    img.brand__logo(src="./img/brand/ps.png", alt="")
                li.brand__item
                  a.brand__link(href="#")
                    .brand__name Dell
                    img.brand__logo(src="./img/brand/dell.png", alt="")
                li.brand__item
                  a.brand__link(href="#")
                    .brand__name Msi
                    img.brand__logo(src="./img/brand/msi.png", alt="")
                li.brand__item
                  a.brand__link(href="#")
                    .brand__name Acer
                    img.brand__logo(src="./img/brand/acer.png", alt="")
                li.brand__item
                  a.brand__link(href="#")
                    .brand__name AMD
                    img.brand__logo(src="./img/brand/amd.png", alt="")
                li.brand__item
                  a.brand__link(href="#")
                    .brand__name Nvidia
                    img.brand__logo(src="./img/brand/nvidia.png", alt="")
      .section
        .container
          .callback
            .callback__frame
              .callback__table
                .callback__title Заказать обратный звонок
                .callback__panel
                  input.callback__input(type="имя" placeholder="ВАШЕ ИМЯ")
                  input.callback__input(type="номер" placeholder="НОМЕР")
                  button.callback__button Перезвоните мне
                .callback__acept
                  input(type="checkbox" id="acept" )
                  label.callback__label(for="acept") Нажимая на кнопку, «Перезвоните мне» вы даете согласие на обработку своих персональных данных в соотвествии с политикой конфиденциальности
              img(src="./img/decor/callbackoperator.png", alt="").callback__image
      .section
        .container
          .stock
            .section__title Акции и скидки
            ul.stock__list 
              li.stock__item
                a.stock__link(href="#")
                  .stock__date с 02.08 по 03.09
                  .stock__frame 
                    img.stock__img(src="./img/discount/glass.png", alt="")
                    .stock__desc 
                      .stock__name
                        |Защитное
                        br
                        |стекло
                      .stock__value В подарок 
              li.stock__item
                a.stock__link.stock__link-blue(href="#")
                  .stock__date с 02.08 по 03.09
                  .stock__frame 
                    img.stock__img(src="./img/discount/-500.png", alt="")
                    .stock__desc 
                      .stock__name
                        |На вторую
                        br
                        |услугу
                      .stock__value скидка 500р 
              li.stock__item
                a.stock__link.stock__link-green(href="#")
                  .stock__date с 02.08 по 03.09
                  .stock__frame 
                    img.stock__img(src="./img/discount/2xdevices.png", alt="")
                    .stock__desc 
                      .stock__name
                        |При заказе от
                        br
                        |2х услуг
                      .stock__value Скидка 10% 
              li.stock__item
                a.stock__link(href="#")
                  .stock__date с 02.08 по 03.09
                  .stock__frame 
                    img.stock__img(src="./img/discount/oldman.png", alt="")
                    .stock__desc 
                      .stock__name
                        |Льготным
                        br
                        |категориям
                        br
                        |граждан
                      .stock__value Скидка 5% 
      footer.footer
       
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
    script(src="./js/hamburger.js")
    script(src="./js/slider.js")
   
