<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="./css/main.css")
    title Smartphonoff
  body
    .wrapper
      header.header
        .container
          .header__tp
            ul.header__top-menu
              li.header__top-menu__item.largetablets__nowrap
                a.header__top-menu__link(href='#') О нас
              .line
              li.header__top-menu__item
                a.header__top-menu__link(href='#') Отзывы
              .line
              li.header__top-menu__item
                a.header__top-menu__link(href='#') Гарантия
              .line
              li.header__top-menu__item
                a.header__top-menu__link(href='#') Для юр лиц
              .line
              li.header__top-menu__item
                a.header__top-menu__link(href='#') Оплата картой
              .line
              li.header__top-menu__item
                a.header__top-menu__link(href='#') Вызвать курьера
              .line
              li.header__top-menu__item
                a.header__top-menu__link(href='#') Контакты            
              .line
              li.header__top-menu__item
                a.header__top-menu__link(href='#') Вакансии           
              .line
              li.header__top-menu__item
                a.header__top-menu__link(href='#') Купить-Продать           
          .line__horizont
          .header__mp
            a(href="").logo
              img(src="./img/logo/logo-footer.png", alt="")
              .logo__text
                .logo__name|DOCTOR
                  br
                  |SMARTPHONOFF
                .logo__desc Сервисный Центр
            .line__logo
            a.adress(href="#")|Москва,
              br
              |м. Академическая,
              br
              |ул.Кедрова,  д. 13, корп. 2
            .line__logo
            a.adress(href="#")|Москва,
              br
              |м. Зябликово,
              br
              |ул. Воронежская,  д. 36, корп. 1
            .line__logo.largetablets
            a.header__wa(title='Написать нам в WhatsApp', target='_blank', href='https://wa.me/79015555555')
              img.header__wa__logo(src='./img/logo/whatsapp.svg', title='Ремонт Академическая, Зябликово WhatsApp', alt='Ремонт Зябликово WhatsApp')
              .header__wa__text WhatsApp
            .line__logo
            .header__tel
              a(href='tel:=+74993500001') +7 (499) 350-00-01
              a(href='tel:=+79015555555') +7 (901) 555-55-55
              span.header__tel__span ПН-СБ 10:00-20:00
          .line__horizont
          .header__bp 
            ul.menu
              li.menu__list
                a.menu__link(href='#')
                  img.header__menu__img(src="./img/menu/mobile-phone.svg", alt="")
                  .menu__item
                    .menu__item__text Ремонт
                    .menu__item__description Телефонов
              li.menu__list
                a.menu__link(href='#')
                  img.header__menu__img(src="./img/menu/tablet.svg", alt="")
                  .menu__item
                    .menu__item__text Ремонт
                    .menu__item__description Планшетов
              li.menu__list
                a.menu__link(href='#')
                  img.header__menu__img(src="./img/menu/laptop.svg", alt="")
                  .menu__item
                    .menu__item__text Ремонт
                    .menu__item__description Ноутбуков
              li.menu__list
                a.menu__link(href='#')
                  img.header__menu__img(src="./img/menu/personal-computer.svg", alt="")
                  .menu__item
                    .menu__item__text Ремонт
                    .menu__item__description Компьютеров
              li.menu__list
                a.menu__link(href='#')
                  img.header__menu__img(src="./img/menu/desktop.svg", alt="")
                  .menu__item
                    .menu__item__text Ремонт
                    .menu__item__description Моноблоков
              li.menu__list
                a.menu__link(href='#')
                  img.header__menu__img(src="./img/menu/tv-monitor.svg", alt="")
                  .menu__item
                    .menu__item__text Ремонт
                    .menu__item__description Телевизоров
              li.menu__list
                a.menu__link(href='#')
                  img.header__menu__img(src="./img/menu/game-controller.svg", alt="")
                  .menu__item
                    .menu__item__text Ремонт
                    .menu__item__description Приставок
              li.menu__list
                a.menu__link(href='#')
                  img.header__menu__img(src="./img/menu/graphics-card.svg", alt="")
                  .menu__item
                    .menu__item__text Ремонт
                    .menu__item__description Видеокарт
      .section.promo__bg
        .container
          .promo
            .promo__text
              h2.promo__text-h2 Сервисный центр
              h1.promo__text-h1 Doctor Smartphonoff
              h3.promo__text-h3
                |Профессиональный ремонт телефонов, планшетов, ноутбуков,
                .br
                |компьютеров а также  любой электроники
            .promo__img
              img(src="./img/promo/mobile_and_tablets_with_pc.png")
      .section
        .container
          .benefit
            .section__benefit
              ul.benefit__list
                li.benefit__item
                  .benefit__title
                    img.benefit__icon(src="./img/benefit/stopwatch.png", alt="")
                    span Срочный ремонт
                  ul.benefit__desc
                    li.benefit__desc-text Ремонт за 1 час
                    li.benefit__desc-text Срочная диагноситка
                    li.benefit__desc-text Ремонт в Вашем присутствии
                li.benefit__item
                  .benefit__title
                    img.benefit__icon(src="./img/benefit/iso.png", alt="")
                    span Гарантия и качество
                  ul.benefit__desc
                    li.benefit__desc-text Оригинальные запчасти
                    li.benefit__desc-text Гарантия 100 дней
                    li.benefit__desc-text Оплата по факту
                li.benefit__item
                  .benefit__title
                    img.benefit__icon(src="./img/benefit/wallet.png", alt="")
                    span Способы оплаты
                  ul.benefit__desc
                    li.benefit__desc-text Оплата картой
                    li.benefit__desc-text Оплата через банк
                    li.benefit__desc-text Рассрочка и кредит
                li.benefit__item
                  .benefit__title
                    img.benefit__icon(src="./img/benefit/parking.png", alt="")
                    span Метро и парковка
                  ul.benefit__desc
                    li.benefit__desc-text 2 минуты от метро
                    li.benefit__desc-text Парковка бесплатно
                    li.benefit__desc-text Курьерская служба
      .section
        .container
          .device
            .section__title Выберите устройство для ремонта
            .section__content
              ul.device__list 
                li.device__item
                  .device__name Телефоны
                  img.device__img(src="./img/device/mobiles.png", alt="")
                  .device__tag 
                    .device__price от 1200р
                    a.device__link(href='#') Подробнее
                li.device__item
                  .device__name Планшеты
                  img.device__img(src="./img/device/tablet.png", alt="")
                  .device__tag 
                    .device__price от 1200р
                    a.device__link(href='#') Подробнее
                li.device__item
                  .device__name Ноутбуки
                  img.device__img(src="./img/device/laptop.png", alt="")
                  .device__tag 
                    .device__price от 1200р
                    a.device__link(href='#') Подробнее
                li.device__item
                  .device__name Компьютеры
                  img.device__img(src="./img/device/pc.png", alt="")
                  .device__tag 
                    .device__price от 1200р
                    a.device__link(href='#') Подробнее
                li.device__item
                  .device__name Моноблоки
                  img.device__img(src="./img/device/monoblock.png", alt="")
                  .device__tag 
                    .device__price от 1200р
                    a.device__link(href='#') Подробнее
                li.device__item
                  .device__name Телевизоры
                  img.device__img(src="./img/device/tv.png", alt="")
                  .device__tag 
                    .device__price от 1200р
                    a.device__link(href='#') Подробнее
                li.device__item
                  .device__name Приставки
                  img.device__img(src="./img/device/consolegame.png", alt="")
                  .device__tag 
                    .device__price от 1200р
                    a.device__link(href='#') Подробнее
                li.device__item
                  .device__name Видеокарты
                  img.device__img(src="./img/device/graficcards.png", alt="")
                  .device__tag 
                    .device__price от 1200р
                    a.device__link(href='#') Подробнее
      .section
        .container
          .brand
            .section__title Выберите бренд для ремонта
            .section__content
              ul.brand__list 
                li.brand__item
                  a.brand__link(href="#")
                    .brand__name Apple
                    img.brand__logo(src="./img/brand/APPLE.png", alt="")
                li.brand__item
                  a.brand__link(href="#")
                    .brand__name Xiaomi
                    img.brand__logo(src="./img/brand/xiaomi.png", alt="")
                li.brand__item
                  a.brand__link(href="#")
                    .brand__name Samsung
                    img.brand__logo(src="./img/brand/Samsung.png", alt="")
                li.brand__item
                  a.brand__link(href="#")
                    .brand__name Huawei
                    img.brand__logo(src="./img/brand/huawei.png", alt="")
                li.brand__item
                  a.brand__link(href="#")
                    .brand__name Honor
                    img.brand__logo(src="./img/brand/honor.png", alt="")
                li.brand__item
                  a.brand__link(href="#")
                    .brand__name Nokia
                    img.brand__logo(src="./img/brand/nokia.png", alt="")
                li.brand__item
                  a.brand__link(href="#")
                    .brand__name Meizu
                    img.brand__logo(src="./img/brand/meizu.png", alt="")
                li.brand__item
                  a.brand__link(href="#")
                    .brand__name Oneplus
                    img.brand__logo(src="./img/brand/oneplus.png", alt="")
                li.brand__item
                  a.brand__link(href="#")
                    .brand__name HP
                    img.brand__logo(src="./img/brand/hp.png", alt="")
                li.brand__item
                  a.brand__link(href="#")
                    .brand__name Google
                    img.brand__logo(src="./img/brand/google.png", alt="")
                li.brand__item
                  a.brand__link(href="#")
                    .brand__name Sony
                    img.brand__logo(src="./img/brand/sony.png", alt="")
                li.brand__item
                  a.brand__link(href="#")
                    .brand__name Lenovo
                    img.brand__logo(src="./img/brand/lenovo.png", alt="")
                li.brand__item
                  a.brand__link(href="#")
                    .brand__name Asus
                    img.brand__logo(src="./img/brand/asus.png", alt="")
                li.brand__item
                  a.brand__link(href="#")
                    .brand__name Xbox
                    img.brand__logo(src="./img/brand/xbox.png", alt="")
                li.brand__item
                  a.brand__link(href="#")
                    .brand__name Playstation
                    img.brand__logo(src="./img/brand/ps.png", alt="")
                li.brand__item
                  a.brand__link(href="#")
                    .brand__name Dell
                    img.brand__logo(src="./img/brand/dell.png", alt="")
                li.brand__item
                  a.brand__link(href="#")
                    .brand__name Msi
                    img.brand__logo(src="./img/brand/msi.png", alt="")
                li.brand__item
                  a.brand__link(href="#")
                    .brand__name Acer
                    img.brand__logo(src="./img/brand/acer.png", alt="")
                li.brand__item
                  a.brand__link(href="#")
                    .brand__name AMD
                    img.brand__logo(src="./img/brand/amd.png", alt="")
                li.brand__item
                  a.brand__link(href="#")
                    .brand__name Nvidia
                    img.brand__logo(src="./img/brand/nvidia.png", alt="")
      .section
        .container
          .callback
            .callback__frame
              .callback__table
                .callback__title Оставить заявку на ремонт
                .callback__panel
                  input.callback__input(type="имя" placeholder="ВАШЕ ИМЯ")
                  input.callback__input(type="номер" placeholder="НОМЕР")
                  button.callback__button Оставить заявку на ремонт
                .callback__acept
                  input(type="checkbox" id="acept" )
                  label.callback__label(for="acept") Нажимая на кнопку, «Перезвоните мне» вы даете согласие на обработку своих персональных данных в соотвествии с политикой конфиденциальности
              img(src="./img/decor/callbackoperator.png", alt="").callback__image
      .section
        .container
          .stock
            .section__title Акции и скидки
            ul.stock__list 
              li.stock__item
                a.stock__link(href="#")
                  .stock__date с 02.08 по 03.09
                  .stock__frame 
                    img.stock__img(src="./img/discount/glass.png", alt="")
                    .stock__desc 
                      .stock__name
                        |Защитное
                        br
                        |стекло
                      .stock__value В подарок 
              li.stock__item
                a.stock__link.stock__link-blue(href="#")
                  .stock__date с 02.08 по 03.09
                  .stock__frame 
                    img.stock__img(src="./img/discount/-500.png", alt="")
                    .stock__desc 
                      .stock__name
                        |На вторую
                        br
                        |услугу
                      .stock__value скидка 500р 
              li.stock__item
                a.stock__link.stock__link-green(href="#")
                  .stock__date с 02.08 по 03.09
                  .stock__frame 
                    img.stock__img(src="./img/discount/2xdevices.png", alt="")
                    .stock__desc 
                      .stock__name
                        |При заказе от
                        br
                        |2х услуг
                      .stock__value Скидка 10% 
              li.stock__item
                a.stock__link(href="#")
                  .stock__date с 02.08 по 03.09
                  .stock__frame 
                    img.stock__img(src="./img/discount/oldman.png", alt="")
                    .stock__desc 
                      .stock__name
                        |Льготным
                        br
                        |категориям
                        br
                        |граждан
                      .stock__value Скидка 5% 
      .section
        .container
          .description
            .section__title Сервисный центр Doctor smartphonoff 
            .description__frame
              h2.description__tilte Ремонтируем больше 10 лет
              p.description__text Выполняем ремонт мобильных телефонов и компьютерной техники в Москве. Основное направление ремонта: телефоны, ноутбуки, планшеты и игровые приставки. За все время деятельности на рынке услуг с сентября 2010 года, отремонтировали десятки тысяч устройств и зарекомендовали себя как надежного партнера в сфере предоставления услуг ремонта гаджетов. Услуги сервисного центра направлены на максимальное решение задач наших клиентов, на высоком профессиональном уровне.
              h2.description__tilte Ремонт любой сложности
              ul.description__list 
                li.description__item Модульный ремонт, востановление после механических повреждений.
                li.description__item Компонентный ремонт, востановление после попадания жидкости.
                li.description__item Последствия не квалифицированного ремонта и многое другое.
              h2.description__tilte Наши преимущества
              ul.description__list 
                li.description__item Предоставляем бесплатную и срочную диагностку телефонов;
                li.description__item Выполняем ремонт в вашем присутствии или в день обращения;
                li.description__item Даем гарантию на все виды работ и запчасти;
                li.description__item Предлагаем удобные способы оплаты: от наличных до рассрочки банка;
                li.description__item Есть курьерская служба доставки техники в сервисный центр и обратно;
                li.description__item Ремонтируем рядом с метро Академическая/Зябликово, есть бесплатная парковка;
                li.description__item Работаем с физическими и юридическими лицами. Выдаем полный пакет документов на  обслуживание в сервисном центре.
      .section
        .container
          .process
            .section__title Процесс ремонта
            .process_frame 
              ul.process__list 
                li.process__item 
                  .process__count 01
                  img.process__img(src="./img/process/reception.png", alt="")
                  .process__name Заявка
                  .process__desc Приходите к нам в офис или вызываете курьера
                li.process__item 
                  .process__count 02
                  img.process__img(src="./img/process/diagnostic.png", alt="")
                  .process__name Диагностика
                  .process__desc Специалист выявляет неисправность
                li.process__item 
                  .process__count 03
                  img.process__img(src="./img/process/contract.png", alt="")
                  .process__name Согласовывание
                  .process__desc Опрелеляется стоимость и сроки ремонта
                li.process__item 
                  .process__count 04
                  img.process__img(src="./img/process/tools.png", alt="")
                  .process__name Ремонт
                  .process__desc Выполняется ремонт устройства
                li.process__item 
                  .process__count 05
                  img.process__img(src="./img/process/consult.png", alt="")
                  .process__name Уведомление
                  .process__desc Напишем или позвоним Вам по готовности
                li.process__item 
                  .process__count 06
                  img.process__img(src="./img/process/delivery-box.png", alt="")
                  .process__name Оплата
                  .process__desc Проверяете и получаете документы
      .section
        .container
          .review
            .section__title Отзывы наших клиентов
            img(src="./img/decor/review.png", alt="")
      .section
        .container
          .contacts
            .section__title Контакты сервисного центра
            .section__title-small.section__title-bottom метро Академическая
            .contacts__frame
              .map
                img(src="./img/decor/map.png", alt="")
              .contacts__table
                .contacts__table-left
                  .contacts__logo
                    a(href="").logo
                      img(src="./img/logo/logo-footer.png", alt="")
                      .logo__text
                        .logo__name|DOCTOR
                          br
                          |SMARTPHONOFF
                        .logo__desc сервисный центр
                  .contacts__telephone
                    .contacts__telephone__title.contacts__margin-bottom
                      img.contacts__telephone__title__img.contacts__margin-right.contacts__height-img(src="./img/contacts/phone-call.png", alt="")
                      .section__title-small Контактный телефон
                    .header__tel
                      a(href='tel:=+74993500001') +7 (499) 350-00-01
                      a(href='tel:=+79015555555') +7 (901) 555-55-55
                  .contacts__adress
                    .contacts__adress__title.contacts__margin-bottom 
                      img.contacts__adress__title__img.contacts__margin-right.contacts__height-img(src="./img/contacts/location.png", alt="")
                      .section__title-small Адрес
                    a.adress(href="#")|Москва,
                      br
                      |м. Академическая,
                      br
                      |ул.Кедрова, д. 13, корп. 2
                  .contacts__time
                    .contacts__time__title.contacts__margin-bottom
                      img.contacts__time__img.contacts__margin-right.contacts__height-img(src="./img/contacts/time.png", alt="")
                      .section__title-small Время работы
                    .contacts__time__value
                      |ПН-СБ с 10 до 19
                      br
                      |Воскресенье - выходной
                .contacts__table-right
                  ul.cards
                    li.cards__item 
                      img.cards__img(src="./img/pay-card/master.png", alt="")
                    li.cards__item 
                      img.cards__img(src="./img/pay-card/visa.png", alt="")
                    li.cards__item 
                      img.cards__img(src="./img/pay-card/mir.png", alt="")
                    li.cards__item 
                      img.cards__img(src="./img/pay-card/sber.png", alt="")
                  .contacts__metro 
                    .section__title-small Ближайшее метро
                    ul.metro 
                      li.metro__item 
                        img.metro__img.contacts__margin-right.contacts__height-img(src="./img/contacts/metro.png", alt="")
                        .metro__value м. Академическая - 200м
                      li.metro__item 
                        img.metro__img.contacts__margin-right.contacts__height-img(src="./img/contacts/metro.png", alt="")
                        .metro__value м. Профсоюзная - 900м
                      li.metro__item 
                        img.metro__img.contacts__margin-right.contacts__height-img(src="./img/contacts/metro.png", alt="")
                        .metro__value м. Университет - 2600м
                    .metro__desc
                      |На метро Академическая первый вагон
                      br
                      |из центра выход налево на2 выход
                  .contacts__bus
                    .section__title-small Ближайшие остановки
                    ul.bus 
                      li.bus__item 
                        img.bus__img(src="./img/contacts/bus.png", alt="")
                        .bus__station ул. Крижановского - 350м
                      li.bus__item 
                        img.bus__img(src="./img/contacts/bus.png", alt="")
                        .bus__station магазин Морозко - 350м
                      li.bus__item 
                        img.bus__img(src="./img/contacts/bus.png", alt="")
                        .bus__station Техникум - 350м
            .section__title-small.section__title-bottom.section__title-top метро Зябликово
            .contacts__frame
              .map
                img(src="./img/decor/map.png", alt="")
              .contacts__table
                .contacts__table-left
                  .contacts__logo
                    a(href="").logo
                      img(src="./img/logo/logo-footer.png", alt="")
                      .logo__text
                        .logo__name|DOCTOR
                          br
                          |SMARTPHONOFF
                        .logo__desc сервисный центр
                  .contacts__telephone
                    .contacts__telephone__title.contacts__margin-bottom
                      img.contacts__telephone__title__img.contacts__margin-right.contacts__height-img(src="./img/contacts/phone-call.png", alt="")
                      .section__title-small Контактный телефон
                    .header__tel
                      a(href='tel:=+74993500001') +7 (499) 350-00-01
                      a(href='tel:=+79015555555') +7 (901) 555-55-55
                  .contacts__adress
                    .contacts__adress__title.contacts__margin-bottom 
                      img.contacts__adress__title__img.contacts__margin-right.contacts__height-img(src="./img/contacts/location.png", alt="")
                      .section__title-small Адрес
                    a.adress(href="#")|Москва,
                      br
                      |м. Зябликово,
                      br
                      |ул.Воронежская, д. 36, корп. 1
                  .contacts__time
                    .contacts__time__title.contacts__margin-bottom
                      img.contacts__time__img.contacts__margin-right.contacts__height-img(src="./img/contacts/time.png", alt="")
                      .section__title-small Время работы
                    .contacts__time__value
                      |ПН-СБ с 11 до 20
                      br
                      |Воскресенье - выходной
                .contacts__table-right
                  ul.cards
                    li.cards__item 
                      img.cards__img(src="./img/pay-card/master.png", alt="")
                    li.cards__item 
                      img.cards__img(src="./img/pay-card/visa.png", alt="")
                    li.cards__item 
                      img.cards__img(src="./img/pay-card/mir.png", alt="")
                    li.cards__item 
                      img.cards__img(src="./img/pay-card/sber.png", alt="")
                  .contacts__metro 
                    .section__title-small Ближайшее метро
                    ul.metro 
                      li.metro__item 
                        img.metro__img.contacts__margin-right.contacts__height-img(src="./img/contacts/metro.png", alt="")
                        .metro__value м. Зябликово - 300м
                      li.metro__item 
                        img.metro__img.contacts__margin-right.contacts__height-img(src="./img/contacts/metro.png", alt="")
                        .metro__value м. Красногвардейская - 650м
                      li.metro__item 
                        img.metro__img.contacts__margin-right.contacts__height-img(src="./img/contacts/metro.png", alt="")
                        .metro__value м. Домодедовская - 1500м
                    .metro__desc
                      |На метро Зябликово первый вагон
                      br
                      |из центра выход направо на 11 выход
                  .contacts__bus
                    .section__title-small Ближайшие остановки
                    ul.bus 
                      li.bus__item 
                        img.bus__img(src="./img/contacts/bus.png", alt="")
                        .bus__station ул. Воронежская 30 - 50м
                      li.bus__item 
                        img.bus__img(src="./img/contacts/bus.png", alt="")
                        .bus__station ул. Воронежская 36 - 200м
                      li.bus__item 
                        img.bus__img(src="./img/contacts/bus.png", alt="")
                        .bus__station ул. Ясеневая 43 - 300м
      .section
        .container
          ul.galery.galery-margin__top.galery-margin__bottom
            li.galery__item
              img.galery__img(src="./img/showcase/reception.png", alt="")
            li.galery__item
              img.galery__img(src="./img/showcase/equipment.png", alt="")
            li.galery__item
              img.galery__img(src="./img/showcase/workshop.png", alt="")
            li.galery__item
              img.galery__img(src="./img/showcase/programator.png", alt="")
      footer.footer
        .container
          .footer__tp
            .footer__tp__left
              .footer__callback
                a(href="").logo.footer__margin__right
                  img(src="./img/logo/logo-footer.png", alt="")
                  .logo__text
                    .logo__name.largetablets__font-13|DOCTOR
                      br
                      |SMARTPHONOFF
                    .logo__desc.largetablets__font-9 Сервисный Центр
                .header__tel.footer__tel.footer__margin__right.largetablets__margin-footer
                  a(href='tel:=+74993500001') +7 (499) 350-00-01
                  a(href='tel:=+79015555555') +7 (901) 555-55-55
                .yandex-review
                  img.yandex-review__img(src="./img/decor/yandexpugin.png", alt="")
              .line__horizont.footer__line__color
              .footer__location.footer__margin__right
                a.adress.footer__margin__right(href="#")|Москва,
                  br
                  |м. Академическая,
                  br
                  |ул.Кедрова,  д. 13, корп. 2
                a.adress.footer__margin__right(href="#")|Москва,
                  br
                  |м. Зябликово,
                  br
                  |ул. Воронежская,  д. 36, корп. 1
                ul.social 
                  li.social__item 
                    a.social__link(href="#")
                      img.social__img(src="./img/social/dzen.png", alt="") 
                  li.social__item 
                    a.social__link(href="#")
                      img.social__img(src="./img/social/whatsup.png", alt="") 
                  li.social__item 
                    a.social__link(href="#")
                      img.social__img(src="./img/social/facebook.png", alt="") 
                  li.social__item 
                    a.social__link(href="#")
                      img.social__img(src="./img/social/instagram.png", alt="") 
                  li.social__item 
                    a.social__link(href="#")
                      img.social__img(src="./img/social/ok.png", alt="") 
                  li.social__item 
                    a.social__link(href="#")
                      img.social__img(src="./img/social/vk.png", alt="") 
            .footer__tp__right
              .search.search__margin__right
                .search__title Поиск по устройствам
                .search__frame
                  ul.search__list 
                    li.search__item 
                      a.search__link(href="#") Телефоны 
                    li.search__item 
                      a.search__link(href="#") Ноутбуки 
                    li.search__item 
                      a.search__link(href="#") Планшеты
                    li.search__item 
                      a.search__link(href="#") Компьютеры 
                  ul.search__list 
                    li.search__item 
                      a.search__link(href="#") Моноблоки 
                    li.search__item 
                      a.search__link(href="#") Видеокарты
                    li.search__item 
                      a.search__link(href="#") Телевизоры 
                    li.search__item 
                      a.search__link(href="#") Приставки 
              .footer__menu__frame 
                .footer__menu__title Информация
                ul.footer__menu 
                  li.footer__menu__item 
                    a.footer__menu__item__link(href="#") О нас
                  li.footer__menu__item 
                    a.footer__menu__item__link(href="#") Доставка
                  li.footer__menu__item 
                    a.footer__menu__item__link(href="#") Оплата картой
                  li.footer__menu__item 
                    a.footer__menu__item__link(href="#") Контакты
                  li.footer__menu__item 
                    a.footer__menu__item__link(href="#") Отзывы
          .line__horizont.footer__line__color    
          .footer__bp
            ul.cards
              li.cards__item.cards__margin__right  
                img.cards__img(src="./img/pay-card/master_grey.png", alt="")
              li.cards__item.cards__margin__right  
                img.cards__img(src="./img/pay-card/visa_grey.png", alt="")
              li.cards__item.cards__margin__right  
                img.cards__img(src="./img/pay-card/mir_rgey.png", alt="")
              li.cards__item.cards__margin__right 
                img.cards__img(src="./img/pay-card/sber_grey.png", alt="")
            .rights © 2021 Doctor Smartphonoff. Все права защищены
       

   
