.adress {
    align-items: center;

    &__top {
        
        @include tablets {
            display: none;
        }
    }
    &__bottom {
        
        @include tablets {
            display: none;
        }
    }

}