.benefit {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: 16px;

    &__icon {
        padding: 6px;

        @include phones {
            display: none;
        }
    }

    &__title {
        flex-direction: row;
        display: flex;
        text-transform: uppercase;
        font-weight: 600;
        align-items: center;

        @include tablets {
            font-size: 10px;
        }

    }

    &__list {
        display: flex;
        padding: 30px;
        justify-content: space-between;

        @include tablets {
            padding: 10px;
        }
    }

    &__item {
        flex-direction: column;

        @include phones {
            width: 18vw;
        }
        
    }

    &__desc {
        flex-direction: column;
        
        &-text {

            @include tablets {
                font-size: 10px;
            }

            @include phones {
               
                &::before {
                    display: none;
    
                }

            }

            &::before {
                content: "";
                width: 6px;
                height: 6px;
                background: $black;
                border-radius: 50%;
                margin: 6px;

            }
        }
    }
}