.brand {

    &__list {
        justify-content: space-between;
        flex-wrap: wrap;

        @include largetablets {
            justify-content: center;
        }
    }

    &__link {
        background: $white;
        border-radius: 10px;
        padding: 4px;
        min-width: 104px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content:space-around;
    
    }

    &__name {
        text-transform: uppercase;
        font-size: 10px;
    }

    &__item {
        margin-bottom: 10px;

        @include largetablets {
            margin-right: 10px;

            & :last-child {
                margin-right: 0;
            }
        }
    }
      
}