.callback {
    
    background-image: url(./../img/bg/fon.png);
    border-radius: 6px;
    margin-top: 24px;

    &__frame {
        display: flex;
        justify-content: space-around;
    }

    &__title {
        text-transform: uppercase;
        font-size: 30px;
        color: $white;

        @include tablets {
            font-size: 16px;
        }
        
    }

    &__panel {
        display: flex;
        
        @include tablets {
            flex-direction: column;
            align-items: end;
        }
    }

    &__table {
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        @include largetablets {
            margin-left: 10px;
        }
    }

    &__input {
        border:0;
        background: $white;
        padding: 14px 20px;
        border-radius: 6px;
        margin-right: 10px;

        @include tablets {
            margin-right: 0;
        }


    }

    &__button {
        border:0;
        background: $yellow;
        padding: 14px 20px;
        border-radius: 6px;
        cursor: pointer;

        @include tablets {
            padding: 14px 9px;
        }
    }

    &__label {
        color: $white;
        font-size: 11px;
    }
}