.cards {
    justify-content: space-between;

    @include phones {
        height: 2vh;
    }

    &__margin{

        &__right {
            margin-right: 10px;

            &:last-child {
                margin-right: 0;
            }
        }
    }
}