.header {
  display: flex;
  background: red;
  min-height: 187px;

  &__top-menu {
    align-items: center;
    min-height: 44px;

    &__item {
      padding: 10px;
    }
  }

  &__tp {
    background: gray;
  }
  
  &__mp {
    background: brown;
    min-height: 86px;
  }
  
  &__bp {
    background: blue;
    min-height: 57px;
  }

}

.logo {
  display: flex;
  align-items: center;
}