.header {
  display: flex;
  background: red;
  min-height: 187px;

  &__top-menu {
    justify-content: space-between;
  }

  &__tp {
    background: gray;
    min-height: 44px;
  }
  
  &__mp {
    background: brown;
    min-height: 86px;
  }
  
  &__bp {
    background: blue;
    min-height: 57px;
  }

}