.line {
    border-left: 1px solid $grayLight;
    height: 26px;

    &__logo {
        border-left: 1px solid $grayLight;
        height: 50px;
    }

    &__horizont {
        border-top: 1px solid $grayLight;
    }
   
}