.menu {
    display: flex;
    justify-content: space-around;

    &__link {
        display: flex;

    }

    &__item {
        margin-left: 110px;

        @include tablets {
            font-size: 10px;
        }

        @include landphones {
            font-size: 8px;
        }
    }
}