.promo {
    min-height: 362px;
    display: flex;
    align-items: center;
    justify-content: space-around;

    @include phones {
        min-height: 275px;
    }
    
    
    &__bg {
    
       background: $blue;
    }

    &__text {
        color: $white;
        
        &-h2 {
            font-size: 18px;
            font-weight: 300;
            text-transform: capitalize;

            @include landphones {
                font-size: 16px;
            }

            @include phones {
                font-size: 14px;
            }

            @include miniphones {
                font-size: 10px;
            }
        }

        &-h1 {
            font-size: 48px;
            line-height: 48px;

            @include landphones {
                font-size: 35px;
                line-height: 35px;
            }

            @include phones {
                font-size: 30px;
                line-height: 30px;
            }

            @include miniphones {
                font-size: 24px;
                line-height: 24px;
            }

        }

        &-h3 {
            font-size: 18px;
            font-weight: 300;
            line-height:20px;
            
            @include landphones {
                font-size: 16px;
            }

            @include phones {
                font-size: 14px;
            }
            
            @include miniphones {
                font-size: 10px;
            }
        }
    }

}