.section {
    background: $grayLight;

    &__benefit {
        background: $white;
        min-height: 166px;
        border-radius: 10px;
    }

    &__title {
        padding: 35px 0px;
        font-size: 26px;
        text-transform: uppercase;
    }
}